body{
    background-color: #f8f8f8;
    font-family: Verdana, Arial, Helvetica, sans-serif; 

}
header a{
    color: goldenrod;
    font-size: 15px; 
}

header::before{
    content: url(image/logo.png);    
}
header li {
    list-style-type: none;
}
header ul {
    padding: 0;  

}

.PageProductDescription h2{
    font-size: 18px;
    color: black;
    font-weight: 400; 
    background-color: #eaeaea;
}

.PageProductDescription img{
    border: 2px ridge coral;
    border-radius: 5%;
}


.briefProductDescription{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.detailedProductDescription{
    color: #484343;
    font-size: 16px;
    font-weight: 400; 
    line-height: 24px;
    text-align: left;
}

.specifications ul, .specifications ol{
    
    list-style-image: url(image/marker.jpg);
}

.contacts input[type="text"],.contacts input[type="email"] {
    width: 200px;
    height: 15px;
    background-color: burlywood;
}
form input[type="submit"],form input[type="reset"] {
    width: 48.5%;
    color: cornflowerblue;
}
form{
    display:flex;
}
form label{
    display:inline-block;
    width: 200px;
    color: green;
}
.contacts textarea {
    width: 403px;
    height: 138px;
    background-color: burlywood;
}
/* Все новые селекторы урока 4 см ниже:*/
header a:hover{
    color: rgb(151, 101, 9);
}

.contacts form input[type="email"]:focus {
    background-color: cornflowerblue;
    color: orange;
}
.contacts form input:not([type="email"]):focus{
    background-color: cornflowerblue;
    color:red;
}
.contacts textarea{
    text-transform: capitalize;
}

.specifications tr{
    border-bottom: solid 1px #32a1ce;
    border-right: solid 15px #32a1ce;
}
.specifications tr:first-of-type{
    height: 50px;
}

.specifications table{
    border-collapse: collapse;
    border: thick double #32a1ce;
    width: 1000px;
    text-align: left;
}

.PageProductDescription img:hover{
    border: none;
    padding: 2px;
    border-radius: 5%;
}

.PageProductDescription p::first-letter{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 36px;
    color: violet;
}